<%= form_for(@node) do |f| %>
  <% if @node.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@node.errors.count, "error") %> prohibited this node from being saved:</h2>

      <ul>
      <% @node.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :mac %><br>
    <%= f.text_field :mac, :class => 'form-control', :placeholder =>'Mac' %>
  </div>
  <div class="form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name, :class => 'form-control', :placeholder =>'Name' %>
  </div>
  <div class="form-group">
    <%= f.label :location %><br>
    <%= f.text_field :location, :class => 'form-control', :placeholder =>'Location' %>
  </div>
  <div class="actions">
    <%= f.submit :class => 'btn btn-default' %>
  </div>
<% end %>
